<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PHP程序设计在线课堂</title>
  {include file="common/header"/}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PHP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PHP程序设计</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      {include file="common/top"/}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {include file="common/useronline"/}
      <!-- search form -->
      {include file="common/search"/}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {include file="common/left"/}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- <h1>
        教学大纲
         
      </h1> -->
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">教学大纲</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="Section0"  style="layout-grid:15.6000pt;" >
       <p  align=center  style="text-align:center;line-height:25.0000pt;" ><span style="'yes';font-family:'Times New Roman';font-size:16.0000pt;" ><font face="黑体" >《</font></span><span style="'yes';font-family:黑体;font-size:16.0000pt;" >PHP<font face="黑体" >网站开发</font></span><span style="'yes';font-family:'Times New Roman';font-size:16.0000pt;" ><font face="黑体" >》</font></span><span style="'yes';font-family:黑体;font-size:16.0000pt;" ><font face="黑体" >教学大纲</font></span></p>
       <p  align=center  style="text-align:center;line-height:150%;" ><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="黑体" >第一部分</font>&nbsp;&nbsp;</span><span style="'yes';font-family:黑体;font-size:12.0000pt;" >PHP<font face="黑体" >语法基础</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >学习能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >运行原理；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >变量；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >常量；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >数据类型；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握如何在</font>Dreamweaver<font face="宋体" >中编写</font><font face="Times New Roman" >PHP</font><font face="宋体" >代码；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >访问方式；</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >职业能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >运行原理，能找出运行时错误的原因；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >变量和常量的命名规则、赋值和使用办法；&nbsp;</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >各种数据类型的特点；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握在</font>Dreamweaver<font face="宋体" >代码视图中编写</font><font face="Times New Roman" >PHP</font><font face="宋体" >代码，并使用代码提示功能提高编写速度；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >访问方式，能判断一个网站是否是</font><font face="Times New Roman" >PHP</font><font face="宋体" >动态网站；</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >课时分配</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b><span style="'yes';font-family:宋体;font-size:12.0000pt;" >6</span><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >课时。</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >教学方法</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font>&nbsp;</span></b><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >行动导向和实践教学法。</font></span></p>
       <p  align=center  style="text-align:center;line-height:150%;" ><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="黑体" >第二部分</font>&nbsp;&nbsp;</span><span style="'yes';font-family:黑体;font-size:12.0000pt;" >PHP<font face="黑体" >流程控制结构</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >学习能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >流程的各种类型；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>IF<font face="宋体" >语句；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>SWICH&nbsp;CASE<font face="宋体" >语句；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>FOR<font face="宋体" >循环语句；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握变量</font>++<font face="宋体" >的编程方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >的布尔值在流程控制中的应用；</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >职业能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >熟悉</font>PHP<font face="宋体" >语法，能使用</font><font face="Times New Roman" >DW</font><font face="宋体" >或其他</font><font face="Times New Roman" >IDE</font><font face="宋体" >进行</font><font face="Times New Roman" >PHP</font><font face="宋体" >代码编写，能对</font><font face="Times New Roman" >PHP</font><font face="宋体" >进行简单的调试，能判断一个网站的编程语言是否是</font><font face="Times New Roman" >PHP</font><font face="宋体" >。</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >课时分配</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font>&nbsp;</span></b><span style="'yes';font-family:宋体;font-size:12.0000pt;" >6</span><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >课时。</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >教学方法</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font>&nbsp;</span></b><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >行动导向和实践教学法。</font></span></p>
       <p  align=center  style="text-align:center;line-height:150%;" ><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="黑体" >第三部分</font>&nbsp;&nbsp;</span><span style="'yes';font-family:黑体;font-size:12.0000pt;" >PHP<font face="黑体" >网站开发</font></span></p>
       <p  style="line-height:150%;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >学习能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >站点的建立；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >站点文件的管理；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >网站的调试方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>COOKIE<font face="宋体" >的使用方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>SESSION<font face="宋体" >的使用方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握表单的传值方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >接收表单变量的方法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >流程控制语句；</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >职业能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握利用</font>PHP<font face="宋体" >实现简单的应用，能使用表单向</font><font face="Times New Roman" >PHP</font><font face="宋体" >文件传递变量，能使用流程控制语句对</font><font face="Times New Roman" >PHP</font><font face="宋体" >的运行流程进行控制，实现简单的运行并得到正确的结果。。</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >课时分配</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b><span style="'yes';font-family:宋体;font-size:12.0000pt;" >12</span><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >课时。</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >教学方法</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font>&nbsp;</span></b><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="宋体" >行动导向和实践教学法。</font></span></p>
       <p  align=center  style="text-align:center;line-height:150%;" ><span style="'yes';font-family:'Times New Roman';font-size:12.0000pt;" ><font face="黑体" >第四部分</font>&nbsp;&nbsp;</span><span style="'yes';font-family:黑体;font-size:12.0000pt;" >PHP<font face="黑体" >与</font><font face="Times New Roman" >MYSQL</font><font face="黑体" >数据库编程</font></span></p>
       <p  style="line-height:22.0000pt;" ><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >【</font></span></b><b><span style="'yes';font-family:'Times New Roman';font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >学习能力要求</font></span></b><b><span style="'yes';font-family:宋体;font-weight:bold;font-size:12.0000pt;" ><font face="宋体" >】</font></span></b></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>MYSQL<font face="宋体" >的安装办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握使用</font>PHPMYADMIN<font face="宋体" >对</font><font face="Times New Roman" >MYSQL</font><font face="宋体" >的管理办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握使用</font>SQL<font face="宋体" >语句对</font><font face="Times New Roman" >MYSQL</font><font face="宋体" >数据库进行管理的办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握索引的使用；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >连接</font><font face="Times New Roman" >MYSQL</font><font face="宋体" >数据库的办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >构建</font><font face="Times New Roman" >SQL</font><font face="宋体" >语句并连接到</font><font face="Times New Roman" >MYSQL</font><font face="宋体" >执行返回正确结果的办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >显示从</font><font face="Times New Roman" >MYSQL</font><font face="宋体" >数据库读取到的数据的办法；</font></span></p>
       <p  style="line-height:22.0000pt;" ><span style="'yes';font-family:宋体;font-size:12.0000pt;" ><font face="宋体" >掌握</font>PHP<font face="宋体" >显示表格的办法；</font></span></p>
     </div> 

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file="common/bottom"/}

  <!-- Control Sidebar -->
  {include file="common/set"/}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{include file="common/footerjs"}
</body>
</html>
