<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PHP程序设计在线课堂</title>
  {include file="common/header"/}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PHP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PHP程序设计</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      {include file="common/top"/}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {include file="common/useronline"/}
      <!-- search form -->
      {include file="common/search"/}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {include file="common/left"/}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- <h1>
        教学大纲
         
      </h1> -->
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">教学设计</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">PHP环境搭建及第一个PHP程序</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">PHP语法基础</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">PHP流程控制结构</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">网页版计算器</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">商品信息列表展示</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">PHP数组</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">文件上传功能</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">文本编辑控件的使用</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">留言内容字数限制</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">分页浏览文章信息</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">网站后台-系统登录</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">添加商品信息</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">修改商品信息</a></p>
    <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/jiaoxueshejinr?id=1')}">删除商品信息</a></p>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file="common/bottom"/}

  <!-- Control Sidebar -->
  {include file="common/set"/}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{include file="common/footerjs"}
</body>
</html>
