<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PHP程序设计在线课堂</title>
  {include file="common/header"/}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PHP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PHP程序设计</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      {include file="common/top"/}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {include file="common/useronline"/}
      <!-- search form -->
      {include file="common/search"/}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {include file="common/left"/}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        课程介绍
         
      </h1>
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">课程介绍</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">《PHP网站设计》</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
<P>《PHP网站设计》是软件技术专业的一门专业核心课程。该课程选定当前流行的应用网站开发为职业方向，以实用的应用网站系统开发的实际工作过程为导向，通过一些典型的设计任务，让学生掌握PHP基本语法,使用开源系统快速搭建、修改实用的网站。本课程的预备课程是《C语言程序设计》、《网页设计与制作》。</P>

<P>精品课程网站根据不同的使用者，可以分为两个部分：</P>
<P>一是后台管理：管理员的部分内容包括文章审核、公告管理、教程管理、课件管理、互动交流模块管理、用户管理（教师和用户）、管理员信息管理、退出功能；</P>
<P>二是前台管理：面向学生用户和教师用户部分，用户可以查看公告、教程区浏览、课件区下载、互动交流中发布问题（需要登录）和解决问题。学生可以利用精品课程网站来获取自己想要的知识，老师可以利用精品课程网站向学生传播知识。</P>
<P>&nbsp;</P>
<P>根据系统功能的划分，本系统的功能描述如下：</P>
<P class="bigtitle">前台管理</P>
<P>登录管理：在登录界面输入注册时填写的正确用户名、密码之后，再输入出现的验证码之后便可以进入本系统。如果用户名和密码正确，但是输入的验证码错误，则不允许进入本系统，显示验证码输入错误，重新输入。</P>
<P>课件下载管理：该模块提供了课件下载功能，用户可以打开网页链接，查找要下载的课件，然后下载到本地，可供学习。用户需要先登录，然后可以实现用户上传教程和课件等资源，需要填写标题，需要选择上传类型，选择以真实姓名或昵称的方式上传。该权限仅限于学生用户。</P>
<P>留言管理：用户可以在交流吧中提出自己的疑问，等待其他人的解答，该功能需要用户登录。用户可以选择问题来发表议论和回复。方便用户交流。</P>
<P class="bigtitle"> 后台管理</P>
<P>信息管理：管理员输入正确用户名、密码之后便可进入到后台管理系统。管理员可以对版块进行管理，对用户进行管理，还可以对用户个人信息进行管理。</P>
<P>公告管理：管理员可以实现公告以及新闻的发布，管理员负责公告的编写、发布、修改、删除。</P>
<P>留言管理：管理员可以对用户发表的留言进行管理，管理员可以按留言序号，主题名进行查看，修改和删除留言等操作。</P>
<P>上传管理：管理员可以对教师用户上传的课件，视频等文件进行审核，审核通过后发布到网站主页上。</P>
 
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file="common/bottom"/}

  <!-- Control Sidebar -->
  {include file="common/set"/}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{include file="common/footerjs"}
</body>
</html>
