<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PHP程序设计在线课堂</title>
  {include file="common/header"/}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PHP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PHP程序设计</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      {include file="common/top"/}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {include file="common/useronline"/}
      <!-- search form -->
      {include file="common/search"/}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {include file="common/left"/}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">实训指导</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="Section0"  style="layout-grid:15.6000pt;" >
        <p class=29  align=center  style="text-align:center;" ><b><span style="'yes';font-family:黑体;font-weight:bold;font-size:26.0000pt;" ><font face="黑体" >前</font>&nbsp;&nbsp;&nbsp;&nbsp;<font face="黑体" >言</font></span></b></p>
        <p  style="text-align:left;line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >《</font></span><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" >PHP网站开发</span><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >》是高职高专软件技术专业的一门必修专业平台课。通过任务引领型和项目活动形式，使学生能具备</font>PHP动态网站开发能力，熟练使用PHPMYADMIN对MYSQL数据库进行管理，具备PHP+MYSQL进行数据库网站的开发能力，为学生发展专门化方向的职业能力奠定基础。</span></p>
        <p class=32  align=center  style="text-align:center;" ><b><span style="'yes';font-family:黑体;font-weight:bold;font-size:16.0000pt;" ><font face="黑体" >实训</font>(实训)要求</span></b></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:宋体;font-size:10.5000pt;" >&nbsp;</span><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >要求各位同学在实训</font>(实训)过程中注意以下几点：</span></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >（</font>1）预习实训(实训)指导书有关部分，认真做好实训(实训)内容的准备，就实训(实训)可能出现的情况提前作出思考和分析。</span></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >（</font>2）仔细观察操作时出现的各种现象，记录主要情况，作出必要说明和分析。</span></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >（</font>3）每次将所完成的实训(实训)报告提交给教师检查。</span></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >（</font>4）遵守机房/实训室/实训室纪律，服从辅导教师指挥，爱护实训(实训)设备。</span></p>
        <p  style="line-height:24.0000pt;" ><span style="'yes';font-family:仿宋_GB2312;font-size:14.0000pt;" ><font face="仿宋_GB2312" >（</font>5）实训(实训)课程不迟到。如有事不能出席，所缺实训(实训)一般不补。</span></p>
      </div>
      <br clear=all style='page-break-before:always;'>
      <div class="Section1"  style="layout-grid:15.6000pt;" >
        <p  align=center  style="text-align:center;line-height:150%;" ><b><span style="'yes';font-family:黑体;font-weight:bold;font-size:15.0000pt;" ><font face="黑体" >目</font>&nbsp;&nbsp;&nbsp;&nbsp;<font face="黑体" >录</font></span></b></p>
        <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/shixunzhidaonr?id=1')}">实训一 输出系统当前时间</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a href="{:Url('Index/index/shixunzhidaonr?id=2')}">实训二 网站敏感词过滤</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训三 用户登录信息判断</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训四 网页版计算器</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训五 顾客投诉信息处理</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训六 文件上传功能</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训七 文本编辑控件的使用</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训八 分页浏览文章信息</a></p>
        <p  style="font-size: 18px; font-weight: 700"><a >实训九 网站后台开发</a></p>
        
      </div>
       

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file="common/bottom"/}

  <!-- Control Sidebar -->
  {include file="common/set"/}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{include file="common/footerjs"}
</body>
</html>
