<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PHP程序设计在线课堂</title>
  {include file="common/header"/}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PHP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PHP程序设计</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      {include file="common/top"/}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      {include file="common/useronline"/}
      <!-- search form -->
      {include file="common/search"/}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {include file="common/left"/}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">实训指导</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- About Me Box -->
       <div class="box box-primary">
         <div class="box-header with-border">
           <h3 class="box-title">任务列表</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body" style="color:#000;font-size: 16px">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>任务</th>
              <th>完成进度</th>
              <th style="width: 80px">百分比</th>
              <th style="width: 80px">操作</th>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="{:Url('Index/Xiaozu/renwunr')}">PHP环境搭建及第一个PHP程序</a></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                </div>
              </td>
              <td><span class="badge bg-red">55%</span></td>
              <td title="加入"><i class="fa fa-user-plus"></i></td>
            </tr>
            <tr>
              <td>2.</td>
              <td>留言内容字数限制</td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                </div>
              </td>
              <td><span class="badge bg-yellow">70%</span></td>
              <td title="加入"><i class="fa fa-user-plus"></i></td>
            </tr>
            <tr>
              <td>3.</td>
              <td>网站后台-系统登录</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                </div>
              </td>
              <td><span class="badge bg-light-blue">30%</span></td>
              <td title="加入"><i class="fa fa-user-plus"></i></td>
            </tr>
            <tr>
              <td>4.</td>
              <td>商品信息列表展示</td>
              <td>
                <div class="progress progress-xs progress-striped active">
                  <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                </div>
              </td>
              <td><span class="badge bg-green">90%</span></td>
              <td title="加入"><i class="fa fa-user-plus"></i></td>
            </tr>
          </table>
             
         </div>
         <!-- /.box-body -->
       </div>
       <!-- /.box -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file="common/bottom"/}

  <!-- Control Sidebar -->
  {include file="common/set"/}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{include file="common/footerjs"}
</body>
</html>
