<ul class="sidebar-menu">
  <li class="active"><a href="{:Url('Index/index/jieshao')}"><i class="fa fa-dashboard"></i> 课程介绍</a></li>
   
  <li class="treeview">
    <a href="#">
      <i class="fa fa-files-o"></i>
      <span>教学资源</span>
      <span class="pull-right-container">
         
      </span>
    </a>
    <ul class="treeview-menu"> 
      <li><a href="{:Url('Index/index/jiaoxuedagang')}"><i class="fa fa-circle-o"></i>教学大纲</a></li>
      <li><a href="{:Url('Index/index/jiaoxuesheji')}"><i class="fa fa-circle-o"></i>教学设计</a></li>
      <li><a href="{:Url('Index/index/shixunzhidao')}"><i class="fa fa-circle-o"></i>实训指导</a></li>
      
    </ul>
  </li>
  <li class="active"><a href="{:Url('Index/index/shipin')}"><i class="fa fa-th"></i> 教学视频</a></li>
   
  <li class="treeview">
    <a href="#">
      <i class="fa fa-pie-chart"></i>
      <span>课程章节</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      
      
      
      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第1章 PHP概述
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 1.1 PHP入门</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 1.2 PHP环境搭建
  </a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 1.3 PHP常用开发工具
  </a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第2章 HTML基础
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 2.1 HTML知识</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 2.2 CSS样式知识</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 2.3 JavaScript知识</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第3章 PHP语法基础
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.1 PHP标记与注释</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.2 PHP的数据类型</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.3 PHP常量</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.4 PHP变量</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.6 PHP函数</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 3.7 PHP编码规范</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第4章 PHP流程控制结构
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 4.1 条件控制语句</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 4.2 循环控制语句</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 4.3 跳转语句</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 4.4 包含语句</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第5章 PHP数组
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 5.1 数组及数组类型</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 5.2 数组的基本操作</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 5.3 PHP数组函数</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 5.4 PHP全局数组</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第6章 PHP网站开发
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 6.1 WEB表单设计</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 6.2 表单数据提交与获取</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 6.3 SESSION管理</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 6.4 Cookie管理</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第7章 MySQL数据库技术
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.1 MySQL概述</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.2 MySQL服务器的启动和关闭</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.3 操作MySQL数据库</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.4 操作MySQL数据表</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.5 操作MySQL数据</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 7.6 phpMyAdmin图形化管理工具</a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-circle-o"></i> 第8章 PHP与MySQL数据库编程
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> 8.1 PHP操作MySQL数据库的步骤</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 8.2 链接数据库服务器</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 8.3 选择指定数据库</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 8.4 数据库基本操作</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 8.5 关闭数据库链接</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="active"><a href="{:Url('Index/index/zhangjieceshi')}"><i class="fa fa-th"></i> 章节测试</a></li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-edit"></i> <span>小组合作</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="{:Url('Index/xiaozu/fenzu')}"><i class="fa fa-circle-o"></i> 分组情况</a></li>
      <li><a href="{:Url('Index/xiaozu/renwulist')}"><i class="fa fa-circle-o"></i> 任务列表</a></li>
       
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-table"></i> <span>课堂互动</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="{:Url('Index/hudong/index')}"><i class="fa fa-circle-o"></i> 进入讨论</a></li>
      
    </ul>
  </li>

</ul>